.example-icon {
  padding: 0 14px;
  &.cart-count {
    padding: 0 8px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 90px;
  background: transparent;
  position: absolute;
  display: block;
}

.search-bar {
  margin-left: 75px;
}

.header-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
